footer.contacts-block
  h2.contacts-title.block-title#contacts Контакты
  p.whant-you-know.main-font Хотите узнать больше или просто пообщаться? Добро пожаловать!
  form.mail(action="mailto:J.Gureva@outlook.com")
    button.send-message.main-font Связаться
  div.social-container
    a.social-link.inst(href="https://www.instagram.com/invites/contact/?i=11ra4i20403pq&utm_content=x246vn")
    a.social-link.vk(href="#")
    a.social-link.telegram(href="https://t.me/EKoretsky")

a.btn-back(href="#header" title="top")
