
div.about-me-container
  div.about-me
    h2.about-me-title.block-title Обо мне
    p.whoim.main-font
      | Привет, я Евгений,- джуниор веб-дизайнер из Санкт-Петербурга. Мне интересен дизайн и всё, что с ним
      | связано.
    p.whoim.main-font Считаю, что достаточно хорошо знаю HTML, CSS и основы JavaScript'а.
    p.whoim.main-font
      | Готов взяться за реализацию несложных проектов для хороших людей. А за рекомендацию бонус вам в
      | карму. :)

  div.skills-block
    h2.skills-title.block-title Навыки
    div.graphic

      div
        figure.figure
          img.logo(src="./img/PS.png" alt="Фотошоп" width="90px" height="90px")
          figcaption.main-font Photoshop
        ul.rate-list
          li.rate-item.full-star
          li.rate-item.full-star
          li.rate-item
          li.rate-item
          li.rate-item

      div
        figure.figure
          img.logo(src="./img/AI.png" alt="Иллюстратор" width="90px" height="90px")
          figcaption.main-font Illustrator
        ul.rate-list
          li.rate-item.full-star
          li.rate-item.full-star
          li.rate-item.full-star
          li.rate-item
          li.rate-item

      div
        figure.figure
          img.logo(src="./img/Corel.png" alt="Корел" width="90px" height="90px")
          figcaption.main-font CorelDraw
        ul.rate-list
          li.rate-item.full-star
          li.rate-item.full-star
          li.rate-item
          li.rate-item
          li.rate-item

      div
        figure.figure
          img.logo(src="./img/figma-1.png" alt="" width="90px" height="90px")
          figcaption.main-font Figma
        ul.rate-list
          li.rate-item.full-star
          li.rate-item.full-star
          li.rate-item.full-star
          li.rate-item
          li.rate-item

    div.web
      ul.skills-list
        li.skills-item
          h4 HTML
          span.bar
            span.html

        li.skills-item
          h4 CSS
          span.bar
            span.css

        li.skills-item
          h4 JavaScript
          span.bar
            span.js
