header.header
  nav.nav
    ul.nav-list
      li.skills-item
        a.nav-link.main-font(href="#about-me") Обо мне
      li.skills-item
        a.nav-link.main-font(href="#skills") Навыки
      li.skills-item
        a.nav-link.main-font(href="#portfolio") Портфолио
      li.skills-item
        a.nav-link.main-font(href="#order") Заказать
      li.skills-item
        a.nav-link.main-font(href="#contacts") Контакты
  div.desc-wrapper
    h1.myName Корецкий<br>Евгений
    p.myDescription.main-font Веб-дизайнер,<br>35 лет,<br>Санкт-Петербург
    div.change
      a.change-link.current-link(href="#") ru <span class="main-font">|</span>
      a.change-link(href="index-eu.html") eng
  img.my-photo(src="./img/foto12.png" alt="Моё фото")
  img.my-photo-mobile(src="./img/foto13.png" alt="Моё фото")
  img.my-photo-375(src="./img/foto14.png" alt="Моё фото")
