block variables
  - let lang = "ru"
  - let title = "Portfolio"
  - let keywords = "портфолио, обо мне, junior, вёрстка, мало опыта"
  - let description = "Небольшой сайт визитка с портфолио"

html(lang=lang)
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="keywords" content=keywords)
    meta(name="description" content=description)
    link(rel="shortcut icon" href="path to favicon" type="image/png")
    title #{title}
  body
    block header
    include header.pug

    block main
    include main.pug

    block footer
    include footer.pug
